.circle {
    position: absolute;
    /* background-color: #f8dadf; */
    background-color: #e0eeed;
    /*   border: solid 1px #ccc; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.btn {
    background-color: #dce6e6;
    /* background-color: #e9f3f2; */
    /* background-color: #eeeeee; */
    color: #6c6f74;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: 'Julius Sans One', sans-serif;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
}

.btn:hover {
    opacity: 1;
    /* color: #ffffff; */
    background-color: #fcf9f2;
}

.quizbox {
    display: flex;
    flex-wrap: nowrap;
}

.icecream,
#icecream {
    width: 300px;
    margin-bottom: 0px;
    margin-left: 10px;
    vertical-align: bottom;
}

#timeup,
h1 {
    font-family: 'Marcellus SC', serif;
    font-size: 70px;
    color: #6c6f74;
}

#timeup {
    margin: 15% 0;
    display: none;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 248, 237, 0.6);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    opacity: 0;
    display: none;
}

body {
    margin: auto;
    margin-top: 8%;
    width: 80%;
    font-family: 'Julius Sans One', serif;
    color: #aaadb3;
    background-color: #fff8ed;
    background-image: display: flex;
    text-align: center;
}

p {
    padding: 10px;
}

.wrapper {
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 35% 65%;
    border-bottom: 1px solid #6c6f74;
    margin-bottom: 0px;
    position: relative;
}

.left,
.right {
    margin-top: 100px;
    text-align: center;
    margin: auto;
}

#question,
.qustion,
{
    font-weight: bold;
}

#question,
.qustion,
.opt {
    display: block;
    text-align: justify;
    text-justify: inter-word;
}

#countdown,
#error,
.question {
    margin-bottom: 10px;
}

#countdown {
    margin-left: 45%;
    font-size: 20px;
}

#error {
    color: #ef6b80;
}

#result {
    font-size: 30px;
}


/* curved text */

#curved {
    position: relative;
}

#arc {
    font-family: 'Julius Sans One', sans-serif;
    position: absolute;
    /* letter-spacing: 2px; */
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 48px;
    }
    p {
        padding: 10px;
    }
    #icecream,
    .icecream {
        height: 220px;
        width: 200px;
        flex-wrap: nowrap;
        display: inline-block;
        margin-right: 20px;
    }
    .container {
        padding: 2%;
    }
    .wrapper {
        margin: auto;
        display: block;
        border-bottom: 0px;
    }
    body {
        width: 100%;
        margin-top: 10%;
    }
    #curved {
        position: relative;
    }
    #arc {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #question,
    .question,
    .opt,
    .flex-container {
        text-align: center
    }
}